<div class="entire-container">
    <div class="nav container">
        <div class="nav-container1">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="#">Brainwave.io</a>
                    <button class="navbtn btn btn">Demos</button>
                    <button class="navbtn btn btn">Pages</button>
                    <button class="navbtn btn btn">Support</button>
                    <button class="navbtn btn btn" (click)="contactform()">
                        Contact
                    </button>
                </div>
            </nav>
        </div>
        <div class="nav-container2">
            <div class="getstarted btn btn-primary">Get started a project</div>
        </div>
    </div>

    <div class="hero-section">
        <div class="content">
            <p class="title1">LET'S SHIFT YOUR BUSINESS</p>
            <h1 class="title2">Shift your business fast with Shade Pro.</h1>
            <p class="title3">
                With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.
            </p>
            <button class="cta-btn">Get started a project</button>
        </div>
        <div class="image-container">
            <img src="assets/image.png" alt="Hero Image">

        </div>
    </div>
</div>
