


<div class="newimage-container mt-auto">
    <div class="testimonialfooter" ></div>
</div>

<footer class="footer mt-auto">
       
    <div class="main-content" >
        <div class="container1">
        <h1>Ready to launch your next project?</h1>
        <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page</p>
        </div>
        <div class="container2">
            <div class="getstarted btn btn-primary">Get started a project</div>
        </div>

    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-4 Company">
                <h4 class="CompanyName">Brainwave.io</h4>
                <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
                <div class="social"></div>
            </div>
            <div class="col-md-2">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About U</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Products</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Services</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Digital Marketing</a></li>
                    <li><a href="#">Content Writing</a></li>
                    <li><a href="#">SEO for Business</a></li>
                    <li><a href="#">UI Design</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Return Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>