
.testimonial-container {
    
    background-image: url('src/assets/BG2.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 2rem;
    text-align: center;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.testimonial-header {
    color: #69fa92;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}


.testimonial-quote {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 3rem auto;
}


.testimonial-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.testimonial-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
}


.testimonial-name p {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.testimonial-name span {
    font-size: 1rem;
    font-weight: 300;
    color: #d3d3d3;
}


@media (max-width: 768px) {
    .testimonial-quote {
        font-size: 1.5rem;
    }
    
    .testimonial-header {
        font-size: 1.2rem;
    }
    
    .testimonial-container {
        padding: 2rem 1rem;
    }
    
    .testimonial-image {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .testimonial-quote {
        font-size: 1.2rem;
    }

    .testimonial-image {
        width: 60px;
        height: 60px;
    }

    .testimonial-header {
        font-size: 1rem;
    }
}

/* footer */

.footer {
    background-image: url('src/assets/bg3.png');
    background-color: #343a40;
    padding: 40px 0;
    color: white;
}

.footer h5 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 2rem;
}

a {
    color: aliceblue;
    font-weight: 500;
}

a:hover {
    color: #f8f9fa;
    transition: transform 0.5s ease;
    text-decoration: none;
}

.CompanyName {
    font-size: 30px;
    margin-bottom: 2rem;
}

.Company {
    padding-right: 5rem;
}

li {
    padding: 0.3rem 0rem;
}

.social {
    width: 12rem;
    height: 1.5rem;
    background: url('src/assets/Social.png');
    background-size: cover;
}

.main-content {
    display: flex;
    color: aliceblue;
    margin-bottom: 3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.getstarted {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 11rem;
    border-radius: 10px;
    background-color: #473bf0;
    border: none;
}

hr {
    background-color: #2d2d2d;
}


.container {
    margin-top: 4rem;
}

/* Responsive Styles */
@media (max-width: 1290px) {
    .newimage-container {
        width: 85rem;
    }
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .Company {
        padding-right: 0;
    }
    
    .footer .row {
        flex-direction: column;
    }
    
    .getstarted {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    
    .col-md-4, .col-md-2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 576px) {
    .newimage-container {
        height: 20rem;
        background-size: cover;
    }
    
    h1 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1rem;
    }
}
