.footer {
    background-color: #343a40;
    padding: 40px 0;
    color: white;
}

.footer h5 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 2rem;
}

a {
    color: aliceblue;
    font-weight: 500;
}

a:hover {
    color: #f8f9fa;
    transition: transform 0.5s ease;
    text-decoration: none;
}

.CompanyName {
    font-size: 30px;
    margin-bottom: 2rem;
}

.Company {
    padding-right: 5rem;
}

li {
    padding: 0.3rem 0rem;
}

.social {
    width: 12rem;
    height: 1.5rem;
    background: url('src/assets/Social.png');
    background-size: cover;
}

.main-content {
    display: flex;
    background-color: #343a40;
    color: aliceblue;
    margin-bottom: 3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.getstarted {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 11rem;
    border-radius: 10px;
    background-color: #473bf0;
    border: none;
}

hr {
    background-color: #2d2d2d;
}

.newimage-container {
    width: 100%;
    height: 30rem;
    background: url('src/assets/Testimonialfooter.png') no-repeat center center;
    background-color: #473bf0;
    background-size: contain;
    margin: 0 auto;
}

.container {
    margin-top: 4rem;
}

/* Responsive Styles */
@media (max-width: 1290px) {
    .newimage-container {
        width: 85rem;
    }
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .Company {
        padding-right: 0;
    }
    
    .footer .row {
        flex-direction: column;
    }
    
    .getstarted {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    
    .col-md-4, .col-md-2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 576px) {
    .newimage-container {
        height: 20rem;
        background-size: cover;
    }
    
    h1 {
        font-size: 1.8rem;
    }
    
    p {
        font-size: 1rem;
    }
}
