<app-header></app-header>
<div class="page2">
    <p class="title4">Our Services</p>
    <h6 class="title5">
        We provide great services for our customers based on needs
    </h6>
</div>

<div class="cards">
    <div class="card text-white card1 mb-3" style="max-width: 18rem">
        <div class="card-body">
            <div class="cartoon-image2"></div>
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
            </p>
            <a class="learn-more" href=" " src=" ">Learn More <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
    <div class="card text-white card2 mb-3" style="max-width: 18rem">
        <div class="card-body">
            <div class="cartoon-image1"></div>
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
            </p>
            <a class="learn-more" href=" " src=" ">Learn More <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>

    <div class="card text-white card3 mb-3" style="max-width: 18rem">
        <div class="card-body">
            <div class="cartoon-image3"></div>
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk
                of the card's content.
            </p>
            <a class="learn-more" href=" " src=" ">Learn More </a><i class="bi bi-arrow-right"></i>
        </div>
    </div>
    <div class="testimonial-container">
        <div class="testimonial-card">
            <div class="testimonial-image"></div>
            <div class="testimonial-content">
                <div class="stars">
                    <span>★★★★★</span>
                </div>
                <p class="testimonial-text">"OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was super easy to edit and publish."</p>
                <p class="author">Franklin Hic<span>Web Developer</span></p>
            </div>
        </div>
    </div>

    <div class="about-section">
        <h2>Our Story</h2>
        
    
        <div class="image-grid">
            <div style="width: 25rem;">
                <p class="headline">We know how everything works and why your business is failing over and over again.</p>
                <div class="image-item image-1"></div>
                
            </div>
            <div>
                <div style="    display: flex; gap: 6rem;">
                    <div class="image-item image-2">
                        <div class="fill-image2"></div>
                    </div>
                    <div class="image-item image-3"></div>
                </div>
                <p class="description">We share common trends and strategies for improving your rental income and making sure you stay in high demand. With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>

            </div>
            
           
        </div>
    
        
    </div>
    <div class="facts-container">
        <div class="fact">
            <h2>1M+</h2>
            <p>Customers visit Omega every month to get their service done.</p>
        </div>
        <div class="fact">
            <h2>92%</h2>
            <p>Satisfaction rate comes from our awesome customers.</p>
        </div>
        <div class="fact">
            <h2>4.9/5.0</h2>
            <p>Average customer ratings we have got all over internet.</p>
        </div>
    </div>
    
</div>





<app-feature-section></app-feature-section>

<app-footer></app-footer>