<div class="entire-container">
    <div class="nav container">
        <div class="nav-container1">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="#">Brainwave.io</a>
                    <button class="navbtn btn btn">Demos</button>
                    <button class="navbtn btn btn">Pages</button>
                    <button class="navbtn btn btn">Support</button>
                    <button class="navbtn btn btn" (click)="contactform()">Contact</button>
                </div>
            </nav>
        </div>
        <div class="nav-container2">
            <div class="getstarted btn btn-primary">Get started a project</div>
        </div>
    </div>

    <div class="container">
        <div class="container1">
            <p class="title1">LET'S SHIFT YOUR BUSINESS </p>
            <p class="title2">Shift your business fast with Shade Pro. </p>
            <p class="title3">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
            <div class="getstarted btn btn-primary">Get started a project</div>
        </div>
        <div class="container2">
           <div class="fill-image"></div>
           <div class="oval-image"></div>
           <div class="wave-image"></div>
           <div class="round-image"></div>
        </div>
    </div>
</div>
<div class="page2">
    <p class="title4">Our Services</p>
    <h6 class="title5">We provide great services for our customers based on needs</h6>
    </div>

<div class="cards">
    <div class="card text-white card1 mb-3" style="max-width: 18rem;">
      
        <div class="card-body">
            <div class="cartoon-image2"></div>
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class='learn-more' href=" " src=" ">Learn More <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    <div class="card text-white card2 mb-3" style="max-width: 18rem;">
        
        <div class="card-body">
            <div class="cartoon-image1"></div>
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class='learn-more' href=" " src=" ">Learn More <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
      
      
      <div class="card text-white card3 mb-3" style="max-width: 18rem;">

        <div class="card-body">
            <div class="cartoon-image3"></div>
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class='learn-more' href=" " src=" ">Learn More </a><i class="bi bi-arrow-right"></i>

        </div>
        
      </div>
      
</div>

<div class="cartoon-image4-container">
    <div class="cartoon-image4"></div>
</div>


      
<div class="newimage-container">
    <div class="newimage" ></div>
</div>
<div class="newimage-container">
    <div class="features" ></div>
</div>
<div class="newimage-container">
    <div class="works" ></div>
</div>



<!-- <div class="testimonialfooter">
    <div class="testimonialfooter" ></div>
</div> -->

<app-footer></app-footer>




